@import "tailwindcss";

html,
body,
#root {
    height: 100%;
}

body {
    @apply bg-white text-zinc-900;
}

.leaflet-control-attribution {
  font-size: 6px;
  opacity: 0.5;
  background: transparent !important;
}