@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body,
#root {
    height: 100%;
}

body {
    @apply bg-zinc-50 text-zinc-900;
}

.leaflet-control-attribution {
  font-size: 6px;
  opacity: 0.5;
  background: transparent !important;
}